/* Name: theme-default.css */

/*--------------------------------------------------------------
=>>	Smartmenus - Navabr Css
--------------------------------------------------------------*/

/*Navbar Dropdown Dark Css*/
.navbar.navbar-dark .nav .dropdown-item:focus, 
.navbar.navbar-dark .nav .dropdown-item:hover {
    color: #007bff;
}
.navbar.navbar-dark .nav .dropdown-menu .menu-item.active .dropdown-item {
    color: #007bff;
}
.navbar.navbar-dark .nav .dropdown-menu > .menu-item > ul.dropdown-menu .menu-item.active .dropdown-item {
	color: #007bff;
}
.navbar.navbar-dark .nav .dropdown-menu > .menu-item > ul.dropdown-menu > .menu-item > .dropdown-item:hover, 
.navbar.navbar-dark .nav .dropdown-menu > .menu-item > ul.dropdown-menu > .menu-item > .dropdown-item:focus {
	color: #007bff;
}
@media (max-width: 991px) {	
	.navbar.navbar-dark .nav .menu-item:hover .nav-link, 
	.navbar.navbar-dark .nav .menu-item.active .nav-link {
		color: #007bff;
	}
	/*Navbar Dropdown Dark Css*/
	.navbar.navbar-dark .nav .dropdown-menu .dropdown-item:hover, 
	.navbar.navbar-dark .nav .dropdown-menu .dropdown-item:focus { 
		color: #007bff;
	}
}
@media (min-width: 992px) {
	/*Navbar Dropdown Dark Css*/
	.navbar.navbar-dark .nav .dropdown-item:focus, 
	.navbar.navbar-dark .nav .dropdown-item:hover {
		color: #007bff;
	}
}


/*--------------------------------------------------------------
=>>	Common
--------------------------------------------------------------*/

blockquote {
	border-left: 3px solid #007bff;
}
address i { 
	color: #007bff;
}
address a:hover, 
address a:focus { 
	color: #007bff !important;
}

mark, ins { background: #007bff; }

input[type="text"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
input[type="number"]:focus,
input[type="tel"]:focus,
input[type="range"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="week"]:focus,
input[type="time"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="color"]:focus,
textarea:focus {
	box-shadow: 0 0 0 0.25rem rgba(0,123,255,.45) !important;
	border-color: #007bff !important;
}
button,
input[type="button"],
input[type="submit"] {
    border: 2px solid #007bff;
}
button:hover,
button:focus,
input[type="button"]:hover,
input[type="button"]:focus,
input[type="submit"]:hover,
input[type="submit"]:focus {
    border: 2px solid #007bff;
    color: #007bff;
}


/*--------------------------------------------------------------
=>> Buttons
--------------------------------------------------------------*/

.btn-default { background: #007bff; }
.btn-light:hover, .btn-light:focus { background: #007bff; }
.btn-default-dark { background: #007bff; }
.btn-border { border: 2px solid #007bff; }
.btn-border:hover, .btn-border:focus { background: #007bff; border: 2px solid #007bff; }
.common-btn {
	border: 2px solid #007bff;
}
.common-btn:hover, 
.common-btn:focus {
    color: #007bff !important;
	border: 2px solid #007bff;
}


/*--------------------------------------------------------------
=>> Search Popup Box For Header
--------------------------------------------------------------*/

#search-popup .btn {
	background-color: #007bff;
	border: 1px solid #007bff;
}
/*Serch Form for entry-content*/
#searchform.input-group .btn {
	border: 2px solid #007bff;
}
#searchform.input-group .btn:hover {
	border: 2px solid #007bff;
	background-color: #007bff;
}


/*--------------------------------------------------------------
=>> Header Contact Details
--------------------------------------------------------------*/

.head-contact-info li span.newsexo-time { 
	background-color: #007bff;
}


/*--------------------------------------------------------------
=>> Social Icons
--------------------------------------------------------------*/

.custom-social-icons li > a {
	color: #007bff;
}
.custom-social-icons .followus:before {
    background: #007bff;
}
.custom-social-icons .followus:after {
    background: #007bff;
}


/*--------------------------------------------------------------
=>> Trending News Top Marqueee Area
--------------------------------------------------------------*/

.trending-news-col .heading h5 {
	background-color: #007bff;
}
.trending-news-col .heading h5:before {
	border-left: 15px solid #007bff;
}
.trending-news-col .trending-news-content a:hover h6, 
.trending-news-col .trending-news-content a:focus h6 {
	color: #007bff;
}
.news-section-title.five h5 {
	background-color: #007bff;
}
.news-section-title.five h5:before {
	border-left: 15px solid #007bff;
}


/*--------------------------------------------------------------
=>> News Section Title & View All Button
--------------------------------------------------------------*/

.view-all-btn:hover, 
.view-all-btn:focus {
    background-color: #007bff;
    border: 1px solid #007bff;
}


/*--------------------------------------------------------------
=>> Big News Section - Featured News
--------------------------------------------------------------*/

.overlay-news-area .entry-header .entry-title a:hover, 
.overlay-news-area .entry-header .entry-title a:focus {
	text-decoration-color: #007bff;
}
.overlay-news-area .entry-meta a:hover, 
.overlay-news-area .entry-meta a:focus {
	text-decoration-color: #007bff;
}


/*--------------------------------------------------------------
=>> Grid View News Section
--------------------------------------------------------------*/

.grid-view-news-area.vrsn-three {
	border-top: 2px solid #007bff;
}
.grid-view-news-area .entry-header .entry-title a:hover, 
.grid-view-news-area .entry-header .entry-title a:focus {
	color: #007bff;
	text-decoration-color: #007bff;
}
.grid-view-news-area .entry-meta a:hover, 
.grid-view-news-area .entry-meta a:focus {
	text-decoration-color: #007bff;
}


/*--------------------------------------------------------------
=>> List View News Section
--------------------------------------------------------------*/

.list-view-news-area .entry-header .entry-title a:hover, 
.list-view-news-area .entry-header .entry-title a:focus {
	color: #007bff;
	text-decoration-color: #007bff;
}
.list-view-news-area .entry-meta a:hover, 
.list-view-news-area .entry-meta a:focus {
	text-decoration-color: #007bff;
}


/*--------------------------------------------------------------
=>> Blog Meta
--------------------------------------------------------------*/

.entry-meta a:hover, .entry-meta a:focus { color: #007bff; }
.entry-meta .cat-links a { 
	color: #007bff;
}
/*Meta Category*/
.entry-meta .cat-links .links-bg:nth-child(1) {
	background: #007bff;
}
/*Meta Tags*/
.entry-meta .tag-links a {
    background-color: #007bff;
    border: 1px solid #007bff;
}
/*More Link*/
.more-link {
    border: 1px solid #007bff;
}
.more-link:hover, .more-link:focus {
	color: #007bff !important;
}
.more-link i {
	color: #007bff;
}
/*Pagination*/
.pagination a:hover, .pagination a.active { background-color: #007bff; border: 1px solid #007bff; }
.pagination .nav-links .page-numbers.current { background-color: #007bff; border: 1px solid #007bff; }
/*Edit Link*/
.edit-link {
	border: 1px solid #007bff;
}
.edit-link .post-edit-link:hover, 
.edit-link i.fa-edit { 
	color: #007bff; 
}


/*--------------------------------------------------------------
=>> Blog Single
--------------------------------------------------------------*/

.entry-content a {
	color: #007bff;
}
.entry-content a:hover, 
.entry-content a:focus {
	color: #007bff;
}
/*Blog Author*/
.post-author-area.vrsn-three {
	border-top: 2px solid #007bff;
}
.post-author-area .author-content .author-name a:hover { 
	color: #007bff;
    text-decoration-color: #007bff;
}
.post-author-area .author-content p a { 
	color: #007bff;
}
.post-author-area .author-content p a:hover { 
	color: #007bff;
	text-decoration-color: #007bff;
}
/*Comments*/
.comment-avatar { 
	border: 3px solid #007bff;  
}
.comment-detail-title a:hover, 
.comment-detail-title a:focus { 
	color: #007bff; 
}
.reply a {
	border: 1px solid #007bff;
}
.reply a:hover, .reply a:focus { 
	border: 1px solid #007bff;
	color: #007bff; 
}
/*Comment Form*/
.comment-form .required {
	color: #007bff;
}
.logged-in-as a {
	text-decoration: underline 0.10em #007bff;
}
.logged-in-as a:hover, 
.logged-in-as a:focus {
    color: #007bff;
    text-decoration-color: #007bff;
}


/*--------------------------------------------------------------
=>> Mixed Classes
--------------------------------------------------------------*/

.bg-default { background-color: #007bff !important; }
.text-default { color: #007bff !important; }
.entry-header .entry-title a:hover, 
.entry-header .entry-title a:focus { 
	color: #007bff; 
}


/*--------------------------------------------------------------
=>> Theme Breadcrumb Area
--------------------------------------------------------------*/

.page-breadcrumb > li a:hover,
.page-breadcrumb > li.active, 
.page-breadcrumb > li.active a { 
	color: #007bff; 
}


/*--------------------------------------------------------------
=>> Sidebar Widgets
--------------------------------------------------------------*/

.sidebar .widget .wp-block-heading.eight {
	background-color: #007bff;
}
.sidebar .widget .wp-block-heading.eight:before {
	border-left: 15px solid #007bff;
}
/*Latest Posts Widget*/
.widget .wp-block-latest-posts li a:hover, 
.widget .wp-block-latest-posts li a:focus {
	color: #007bff;
	text-decoration-color: #007bff;
}
/*List View Post Widget*/
.list-view-post-widget .post .entry-header .entry-title a:hover, 
.list-view-post-widget .post .entry-header .entry-title a:focus {
	color: #007bff;
	text-decoration-color: #007bff;
}
.list-view-post-widget .post .entry-meta .posted-on a:hover, 
.list-view-post-widget .post .entry-meta .posted-on a:focus {
	text-decoration-color: #007bff;
}
/*Tags*/
.widget .tagcloud a:hover, .widget .tagcloud a:focus {
    background-color: #007bff;
    border: 1px solid #007bff;
}
/*Mixed Widget for All Sidebar*/
.widget .wp-block-archives-list li a:hover,
.widget .wp-block-archives-list li a:focus,
.widget .wp-block-categories-list li a:hover,
.widget .wp-block-categories-list li a:focus,
.widget .wp-block-page-list li a:hover, 
.widget .wp-block-page-list li a:focus, 
.widget .widget_meta ul li a:hover, 
.widget .widget_meta ul li a:focus,
.widget.widget_meta ul li a:hover, 
.widget.widget_meta ul li a:focus,
.widget .wp-block-latest-comments li a:hover, 
.widget .wp-block-latest-comments li a:focus, 
.widget .wp-block-rss li a:hover, 
.widget .wp-block-rss li a:focus {
    color: #007bff;
    text-decoration-color: #007bff;
}
/*Navigation Menu Widget*/
.widget ul.menu li.menu-item a:hover {
	color: #007bff;
    text-decoration-color: #007bff;
}
/*Tags Widget*/
.widget .wp-block-tag-cloud a {
	background-color: #007bff;
	border: 1px solid #007bff;
}
/*Calendar Widget*/
.widget .wp-block-calendar {
	border: 2px solid #007bff;
}
.widget .wp-block-calendar .wp-calendar-nav .wp-calendar-nav-prev a, 
.widget .wp-block-calendar .wp-calendar-nav .wp-calendar-nav-prev a:hover,  
.widget .wp-block-calendar .wp-calendar-nav .wp-calendar-nav-next a, 
.widget .wp-block-calendar .wp-calendar-nav .wp-calendar-nav-next a:hover {
	color: #007bff;
}
.widget .wp-block-calendar caption {
	background-color: #007bff;
}
.widget .wp-block-calendar table:where(:not(.has-text-color)) a, 
.widget .wp-block-calendar table:where(:not(.has-text-color)) a:hover {
	color: #007bff;
}
.widget .wp-block-calendar .wp-calendar-nav-prev a, 
.widget .wp-block-calendar .wp-calendar-nav-next a, 
.widget .wp-block-calendar .wp-calendar-nav-prev a:hover, 
.widget .wp-block-calendar .wp-calendar-nav-next a:hover {
	color: #007bff;
} 
/*Table Widget*/
.widget .wp-block-table .wp-element-caption {
    background-color: #007bff;
}
.widget .wp-block-table td a {
	color: #007bff;
}
.widget .wp-block-table td a:hover {
	color: #007bff;
	text-decoration-color: #007bff;
}
/*Looged-in-color*/
.logged-in-color a {
    text-decoration: underline 0.10em #007bff;
}
.logged-in-color a:hover, .logged-in-color a:focus {
    color: #007bff;
    text-decoration-color: #007bff;
}
/*wp block read more*/
.wp-block-read-more, 
.wp-block-read-more:hover, 
.wp-block-read-more:focus {
	color: #007bff;
}
/*wp block loginout*/
.wp-block-loginout a, 
.wp-block-loginout a:hover, 
.wp-block-loginout a:focus {
	color: #007bff;
}
/*Sidebar Update Released*/
.sidebar .widget .wp-block-file .wp-block-file__button {
    background-color: #007bff;
}
.sidebar .widget .wp-block-media-text .wp-block-media-text__content a {
	color: #007bff;
} 
.sidebar .widget .wp-block-embed .wp-element-caption a {
	color: #007bff;
} 
.wp-block-latest-comments .wp-block-latest-comments__comment-meta .wp-block-latest-comments__comment-author, 
.wp-block-latest-comments .wp-block-latest-comments__comment-meta .wp-block-latest-comments__comment-link {
	color: #007bff;
}
.wp-block-latest-comments .wp-block-latest-comments__comment-meta .wp-block-latest-comments__comment-author:hover, 
.wp-block-latest-comments .wp-block-latest-comments__comment-meta .wp-block-latest-comments__comment-link:hover {
	color: #007bff;
}
.sidebar .widget .textwidget a {
	color: #007bff;
}
/*Paragraph Links in Widgets*/
.widget p a {
	color: #007bff;
}
.sidebar .widget dl dd a {
	color: #007bff;
}

/*--------------------------------------------------------------
=>> Footer Section & Widgets
--------------------------------------------------------------*/

/*Recent Posts Widget*/
.footer-sidebar .widget .wp-block-latest-posts li a:hover, 
.footer-sidebar .widget .wp-block-latest-posts li a:focus {
	color: #007bff;
	text-decoration-color: #007bff;
}
/*subscribe-newsletter*/
.subscribe-area .btn-subscribe { 
	background: #007bff;
	border: 1px solid #007bff;
}
.subscribe-area .btn-subscribe:hover { 
	border: 1px solid #007bff;	
	color: #007bff;
}
/*Mixed Widget for Footer Sidebar*/
.footer-sidebar .widget .wp-block-archives-list li a:hover,
.footer-sidebar .widget .wp-block-categories-list li a:hover,
.footer-sidebar .widget .wp-block-page-list li a:hover, 
.footer-sidebar .widget .widget_meta ul li a:hover, 
.footer-sidebar .widget.widget_meta ul li a:hover, 
.footer-sidebar .widget .wp-block-latest-comments li a:hover, 
.footer-sidebar .widget .wp-block-rss li a:hover, 
.footer-sidebar .widget ul.menu li.menu-item a:hover {
    color: #007bff;
    text-decoration-color: #007bff;
}
.footer-sidebar .widget .wp-block-table td a {
	color: #007bff !important;
}
.footer-sidebar .widget .wp-block-media-text .wp-block-media-text__content a {
	color: #007bff;
} 
.footer-sidebar .widget .wp-block-read-more {
	color: #007bff;
}
.footer-sidebar .widget .wp-block-embed .wp-element-caption a {
	color: #007bff;
} 
.footer-sidebar .widget #searchform.input-group .btn {
    background-color: #007bff;
}
.footer-sidebar .widget .wp-block-file .wp-block-file__button {
    background-color: #007bff;
}
.footer-sidebar .widget .logged-in.wp-block-loginout a, 
.footer-sidebar .widget .logged-out.wp-block-loginout a {
    color: #007bff;
}


/*--------------------------------------------------------------
=>> Footer Copyrights - Site Info - Footer Menu
--------------------------------------------------------------*/

.site-info a { 
	color: #007bff;
}
.site-info a:hover, 
.site-info a:focus {
	color: #007bff;
    text-decoration-color: #007bff;
}

ul.site-info-menu li a:hover, 
ul.site-info-menu li a:focus {
	color: #007bff;
	text-decoration-color: #007bff;
}
ul.site-info-menu .menu-item.active .nav-link {
	color: #007bff;
}


/*--------------------------------------------------------------
=>> 404 Error Page
--------------------------------------------------------------*/

.theme-error-page .title b { color: #007bff; }
.theme-error-page .title i { color: #007bff; }


/*--------------------------------------------------------------
=>> Page Scroll Up
--------------------------------------------------------------*/

.page-scroll-up a {
	background: #007bff;
}
.page-scroll-up a:hover,
.page-scroll-up a:active {
	background: #007bff;
}
